# Server Configuration
PORT=
SERVER_READ_TIMEOUT=
SERVER_WRITE_TIMEOUT=
SERVER_IDLE_TIMEOUT=
LOG_LEVEL=
# Database Config
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
# App Configuration
ENV=
DATABASE_URL=
# 42
CLIENT_ID=
SECRET=
USER_INFO_URL=
REDIRECT_URI=
OAUTH_AUTH_URI=
OAUTH_TOKEN_URI=
REDIRECT_TOKEN_URI=
# Keycloak
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REDIRECT_URI=
KEYCLOAK_AUTH_URI=
KEYCLOAK_TOKEN_URI=
KEYCLOAK_USERINFO_URL=

SESSION_SECRET=
JWT_SECRET=

# Email Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_EMAIL=
FROM_NAME=
SMTP_USE_TLS=

# Google Calendar Configuration
GOOGLE_CREDENTIALS_FILE=
GOOGLE_CALENDAR_SCOPE=
GOOGLE_CALENDAR_ID=